<div class="login-container" fxLayout="row" fxLayoutAlign="center center">
    <form>
        <mat-card style=" width: fit-content;">
            <mat-card-title>Angular-Material-Starter-Template</mat-card-title>
            <mat-card-subtitle>Log in to your account</mat-card-subtitle>
            <mat-card-content>
                <mat-form-field class="full-width">
                    <input id="emailInput" matInput placeholder="Email" formControlName="email" autocomplete="email" type="email">
                    <mat-error id="invalidEmailError">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error id="requiredEmailError">
                        Email is
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input id="passwordInput" matInput placeholder="Password" formControlName="password" type="password"
                        autocomplete="current-password">
                    <mat-error id="requiredPasswordError">
                        Password is
                        <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <div class="full-width">
                    <mat-slide-toggle formControlName="rememberMe">Remember my email address</mat-slide-toggle>
                </div>
            </mat-card-content>
            <mat-card-actions class="login-actions">
                <button mat-raised-button id="login" color="primary">Login</button>
                <button mat-button id="resetPassword" type="button">Reset Password</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>